{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<h1>在线搜索</h1>
{{ render_form(form) }}
<style type="text/css">
    table.gridtable {
        font-family: verdana, arial, sans-serif;
        font-size: 14px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
</style>
{% if songData %}

<body>
    <table class="gridtable">
        <thead>
            <th>名称</th>
            <th>作者</th>
            <th>专辑</th>
            <th>操作</th>
        </thead>
        <tbody>
            <meta charset="UTF-8">
            {% for song in songData %}
            <tr>
                <td><a
                        href="https://music.163.com/song/media/outer/url?id={{song['songId']}}.mp3">{{song['songName']}}</a>
                </td>
                <td>{{song['authorName']}}</td>
                <td>{{song['albumName']}}</td>
                <td><a href="/add?songId={{song['songId']}}">添加</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

{% endif %}
{% if userData %}

<body>
    <table border="1" class="gridtable">
        <thead>
            <th>昵称</th>
            <th>签名</th>
        </thead>
        <tbody>
            <meta charset="UTF-8">
            {% for user in userData %}
            <tr>
                <td><a href="/online_userplaylist?uid={{user['userId']}}">{{ user['nickname'] }}</a></td>
                <td>{{ user['signature'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endif %}
{% endblock %}