{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pager, render_pagination %}
<!DOCTYPE html>
{% block content %}
    <h1>{{nickname[0][0]}}的歌单</h1>
    <body>
        <table>
            <thead>
                <th>歌单名称</th>
            </thead>
            <tbody>
                <meta charset="UTF-8">
                {% for playList in playLists %}
                    <tr>
                        <td><a href="/playlist?id={{playList[0]}}">{{playList[2]}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}